<% include layout %>

	<div class="col-md-4 col-md-offset-4 text-center">
		<h2>Error: página no encontrada.</h2>
		<div class="col-xs-12" style="height:20px"></div>
		<img class="img-responsive center-block" src="/images/error.png" alt="imagen_error" />
	</div>
	</div>
	</div>
	</body>